In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('./data/data.csv')
df = df.sort_values('eval_date')

In [50]:
df.head()

,modelid,ticker,eval_date,probability,index,targetid,target_val,target_name,percent_change,USD_change,rating
0,4184,TJX,10/1/2018,0.000000,19174,NaN,1,5P28D,-0.672766,-0.375,0.000000
596207,2598,UA,10/1/2018,0.901235,240075,NaN,1,_5P28D,-6.674020,-1.210,0.901235
596204,2923,SEE,10/1/2018,0.901233,728699,NaN,0,_5P28D,3.517220,1.460,-0.901233
596139,2129,LIVN,10/1/2018,0.901173,229236,NaN,0,3P28D,-67.637900,-49.910,-0.901173
596110,899,OKTA,10/1/2018,0.901151,729206,NaN,0,_1P28D,27.056700,26.640,-0.901151

In [51]:
df = df[(df['ticker'] == 'FAST') & (df['target_name'] == "1P28D" )]
len(df['modelid'].unique())

5

In [55]:
ALL_DATES = []
for date in (df['eval_date'].unique()):
    ALL_DATES.append(date)

In [58]:
ALL_DATES

['10/10/2018',
 '10/11/2018',
 '10/12/2018',
 '10/15/2018',
 '10/16/2018',
 '10/17/2018',
 '10/18/2018',
 '10/19/2018',
 '10/2/2018',
 '10/22/2018',
 '10/23/2018',
 '10/24/2018',
 '10/25/2018',
 '10/26/2018',
 '10/29/2018',
 '10/3/2018',
 '10/30/2018',
 '10/31/2018',
 '10/4/2018',
 '10/5/2018',
 '10/8/2018',
 '10/9/2018',
 '11/1/2018',
 '11/2/2018',
 '11/5/2018',
 '11/6/2018',
 '11/7/2018',
 '11/8/2018']

In [59]:
ALL_DATES.pop(0)

'10/10/2018'

In [60]:
ALL_DATES

['10/11/2018',
 '10/12/2018',
 '10/15/2018',
 '10/16/2018',
 '10/17/2018',
 '10/18/2018',
 '10/19/2018',
 '10/2/2018',
 '10/22/2018',
 '10/23/2018',
 '10/24/2018',
 '10/25/2018',
 '10/26/2018',
 '10/29/2018',
 '10/3/2018',
 '10/30/2018',
 '10/31/2018',
 '10/4/2018',
 '10/5/2018',
 '10/8/2018',
 '10/9/2018',
 '11/1/2018',
 '11/2/2018',
 '11/5/2018',
 '11/6/2018',
 '11/7/2018',
 '11/8/2018']

In [61]:
CURRENT_DATE = ALL_DATES.pop(0)

In [65]:
df[(df['modelid'] == 3755) & (df['eval_date'] == CURRENT_DATE )]

,modelid,ticker,eval_date,probability,index,targetid,target_val,target_name,percent_change,USD_change,rating
292903,3755,FAST,10/11/2018,0.64387,642378,NaN,1,1P28D,17.392,5.395,0.64387

In [71]:
import math

TARGET_NAME         = "1P28D"
CURRENT_REWARD      = 0
MAX_REWARD          = 2147483647

current_probability = float(df[(df['modelid'] == 3755) & (df['eval_date'] == CURRENT_DATE )]["probability"])
current_target_val  = int  (df[(df['modelid'] == 3755) & (df['eval_date'] == CURRENT_DATE )]["target_val"])

if "_" in TARGET_NAME:
    if current_target_val == 0:
        CURRENT_REWARD += math.pow(MAX_REWARD, current_probability)
    else:
        CURRENT_REWARD -= math.pow(MAX_REWARD, current_probability)
else:
    if current_target_val == 1:
        CURRENT_REWARD += math.pow(MAX_REWARD, current_probability)
    else:
        CURRENT_REWARD -= math.pow(MAX_REWARD, current_probability)
    

print(CURRENT_REWARD)

1019882.937893418

In [15]:
MODEL_DICT[2]

4658

In [28]:
CURRENT_MODELS = []
MODEL_DICT          = {} 
temp = df['modelid'].unique()

for i,num in enumerate (temp):
    MODEL_DICT [i+1]=num
    CURRENT_MODELS.append(num)

In [29]:
CURRENT_MODELS

[3755, 4658, 4445, 3376, 2901]

In [30]:
CURRENT_MODELS.remove(1)

ValueError: list.remove(x): x not in list

In [45]:
CURRENT_MODELS
selected_model = 5

In [46]:
if (MODEL_DICT[selected_model] in CURRENT_MODELS):  
    CURRENT_MODELS.remove(MODEL_DICT[selected_model])

In [47]:
CURRENT_MODELS

[4658, 3376]